* {
    box-sizing: border-box;
}
html,
body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: black;
    padding: 35px;
    border-bottom: 4px solid lightgray;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
nav {
    float: right;
    align-content: center;
}
a {
    color: black;
}
/* Para que não fique roxo depois de visitar */
nav a:visited {
    color: white;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: rgb(94, 100, 104);
}
nav ul li {
    display: inline-block;
    padding-right: 10px;
    font-size: 18px;
    font-weight: bold;
}
nav .navbar img{
  width: 50px;
  height: auto;
  margin: -32px -5px;
  display: block;
  border-radius: 35px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.51);
}
a:hover {
    color: rgb(94, 100, 104);
}
fieldset {
    margin: auto;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    padding-inline: 60px;
    text-align: left;
    font-size: 15px;
    border-color: transparent;
    align-self: center;
}
fieldset input {
  margin-bottom: 8px;
}
figure {
    display: inline-block;
    text-align: center;
}
footer {
    padding-top: 10px;
    text-align: center;
    color: lightgray;
    border-top: 4px solid lightgray;
    margin-top: auto;
    background-color: #171717;
}

footer img {
  width: 40px;
  height: auto;
}

input[type="submit"],
input[type="reset"], button {
    width: auto;
    background-color: #1d8fd1;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}
input[type="submit"]:hover,
input[type="reset"]:hover, button:hover {
    filter: brightness(105%);
}

ul {
    list-style-type: none;
}

.remove_btn {
    width: auto;
    background-color: rgb(187, 70, 70);
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}
.create_btn {
    width: auto;
    background-color: rgb(75, 150, 75);
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}
.results-container {
    margin: auto;
    background-color: aliceblue;
    border-radius: 20px;
    width: fit-content;
    padding: 30px;
    text-align: left;
    border-color: transparent;
}
.content {
    background-color: white;
    background-size: cover;
    padding: 10px;
    font-size: 15px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-align: left;
}
.table {
    border-collapse: separate;
    border-spacing: 10px;
    font-size: 15px;
}
.buttons-container {
    display: flex;
}
.user-profile-container {
    display: flex;
}
.user-profile-avatar {
    text-align: center;
}
.profile_picture{
  width: 80px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
#logo img {
    float: left;
    width: 400px;
    padding-left: 10px;
}
#username {
    color: white;
}
.content {
    background-color: white;
    background-size: cover;
    padding: 10px;
    font-size: 15px;
}
.details-card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 75%;
    max-height: fit-content;
    margin: 0 auto;
    background-color: black;
}
.details-card:hover {
  box-shadow: 0 16px 20px 0 rgba(0,0,0,0.4);
}

.c-badge{
	background-color: gold;
    height: 20px;
    font-size: 11px;
    width: 92px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

#details-poster{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 325px;
     border-radius: 10px;
}
#details-info {
    padding: 20px;
    background-size: contain;
     border-radius: 10px;
    text-align: left;
    flex-grow: 1;
    font-size: 18px;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#details-info ul {
    list-style: none;
    margin:10px 0 0 0;
    text-align: left;
    padding-top: 10px;
    padding-left: 15px;
}
#details-info li {
   display: inline;
   color: rgba(255, 255, 255, 0.94);
    font-size: 15px;
    padding-right: 30px;
}
#details-info h1,h2 {
    text-align: left;
}
#details-info form {
    display: none;
}
#details-info form, button {
    #margin-left:75%;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    #display: none;
}
#details-info button {
      background-color: rgba(171, 129, 129, 0.96);
        margin-left: auto;
        color: rgb(255, 255, 255);
        font-size: 14px;
        border-radius: 5px;
        padding-inline: 5px;
}
#basic-info li {
    font-weight: bold;}
    p {
        color: gold;
    }

#crew-info li{
    font-size: 12px;
}
#details-rating {
    padding-left: 15px;
	#transform: rotateY(360deg);
	display: flex;
}
#details-rating label {
        color: gold;
        font-weight: bold;
}

#details-rating input {
	display: none;
}
#details-rating label {
	display: inline-block;
	cursor: pointer;
	width: 70px;
    font-size: 18px;
}
#details-comment {
    padding-left: 20px;
}
#details-review {
    padding-left: 140px;
    padding-top: 20px;
}
#details-list-users-reviews{
    padding-left: 160px;
}
#details-list-users-reviews label{
        color: gold;
        font-weight: bold;
        font-size: 18px;
}

#details-list-users-reviews-container {
    border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
    width: 85%;
}

/* Clear floats after containers */
#details-list-users-reviews-container::after {
  content: "";
  clear: both;
  display: table;
}
/* Increase the font-size of a span element */
#details-list-users-reviews-container span {
  font-size: 14px;
  margin-right: 15px;
    font-weight: bold;
}
#watchlists {
    margin: auto;
    font-size: 16px;
}
#add-to-watchlist-form button {
    background-color: rgba(83, 157, 125, 0.99);
    color: #ffffff;
    margin-left: 25px;
    margin-top: 8px;
}
.watchlist{
     display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.watchlist img {
    width: 50px;
    height: auto;
}
.watchlist li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
  margin: 20px;
}
.delete-movie{
    background: indianred;
    border-radius: 8px;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}
#error_message {
    color: red;
    font-weight: bold;
    text-align: center;
}

