{% extends "review/index.html" %}

<head>
    <meta charset="UTF-8">
    {% block title %} {{ movie.title}} {% endblock %}
</head>

<body>

{% if error_message %}
<p id="error_message"> {{ error_message }}</p>
{% endif %}

{% block content %}

<div class="details-card">
    <div id="details_poster">
         <img id= "details-poster" src="{{movie.poster_url }}">
    </div>
    <br>
    <div id="details-info">
        <h1><b>{{ movie.title }}</b></h1>
        <ul id="basic-info">
            <li>{{movie.year}}</li>
            <li> {{movie.genres}}</li>
             <li>Rating: {{movie.avg_rating}}  ★</li>
                <br><br>
            <p>{{movie.plot}}</p>
        </ul>

            <ul id="crew-info">
                <li>Directed by: {{movie.director}}</li> <br>
                <li>Written by: {{movie.writer}}</li><br><br>
            </ul>
    </div>
  </div>

<div id="details-review">
     <div id="details-rating">
          <label for="rating">Rating</label> <br>

            <select name="rating" id="rating">
                <option value="1">1★</option>
                <option value="2">2★</option>
                <option value="3">3★</option>
                <option value="4">4★</option>
                    <option value="5">5★</option>
                <option value="6">6★</option>
                <option value="7">7★</option>
                <option value="8">8★</option>
                    <option value="9">9★</option>
                <option value="10">10★</option>
            </select>
     </div>
         <br>
         <div id="details-comment">
             <form id =details-review-comment action="{% url 'review:review_movie' movie.id %}" method="post">
                  {% csrf_token %}
                <textarea name="comment" rows ="6" cols="80"></textarea><br>
                 <button name="submit" type="submit" value="Submit">Submit review</button>
            </form>
         </div>
     </div> <br><br>

    <div id = details-list-users-reviews>
         {% if reviews %}
              <label>Reviews</label> <br>

        <div id="details-list-users-reviews-container">
            {% for review in reviews %}
                <span>Rating: </span> {{ review.rating }} <br>
                <span>Comment: </span>{{ review.comment }}
            {% endfor %}
        </div>

        {% else %}
            <p>No reviews yet.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

 <script type="text/javascript">
 </script>

</body>