{% extends "review/index.html" %}
<head>
    <meta charset="UTF-8">

    {% block title %} Login {% endblock %}
</head>

<body>

{% block content %}
<h1>Log into your account</h1>

<br>
<div class="container d-flex justify-content-center align-items-center h-100">
    <fieldset>
    <form action="{% url 'review:loginview' %}" method="post">
        {% csrf_token %}

        <label for="user">Username:</label>
        <input type="text" id="user" name="user">

        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br><br>
        <input type="submit" value="Login">
    </form>
    <a href="{% url 'review:register_user' %}">
        <button class="create_btn">Register</button>
    </a>


    {% if error_message %}
    <p id="error_message"> {{ error_message }}</p>
    {% endif %}
</fieldset>

</div>
{% endblock %}
</body>