{% extends "review/index.html" %}

<head>
    <meta charset="UTF-8">
    {% block title %} Create account {% endblock %}
</head>
<body>

{% block content %}
<div class="container d-flex justify-content-center"style="margin-bottom: 10px" >
    <h1>Register</h1>
    <br><br><br><br>
</div>
<div class="container d-flex justify-content-center align-items-center h-100">
<fieldset>
    <form action="{% url 'review:register_user' %}" method="post">
        {% csrf_token %}
        <label for="user">Username:</label>
        <input type="text" id="user" name="user">
        <br><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br><br>
        <input type="submit" value="Create account">
    </form>
</fieldset>
</div>
{% endblock %}
</body>